/*#principal {
    /*background-image: url(https://cdn.pixabay.com/photo/2016/12/15/20/17/color-1909977__340.jpg);
    background-image: url(../img/fondo1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Anton', sans-serif;
    font-family: 'Ubuntu Condensed', sans-serif;
}*/
@import url('https://fonts.googleapis.com/css?family=Numans');
@import url('https://fonts.googleapis.com/css?family=Anton|Ubuntu+Condensed');
@import url('https://fonts.googleapis.com/css?family=Anton|Montserrat|Raleway&display=swap');

.letraBlanca {
    color: #ffffff;
}
#menu {
    background-color: black;
}
.espacio {margin: .5em;
}
.tamano{
    width: 50%;
}
.letraNaranja{
    color: orange;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    margin: auto;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 0%;
    max-width: 25%;
    padding: 8px;
}

    .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

.flo{
    height: 20%;
}
#carouselExampleIndicators{
    max-height: 500px;
}
.tama {
    max-height: 500px;
}
.tam {
    width: 100%;
}

#loginGaleria {
    /*background-image: url(https://cdn.pixabay.com/photo/2016/12/15/20/17/color-1909977__340.jpg);*/
    background-image: url(../img/fondoLogin2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Anton', sans-serif;
    font-family: 'Ubuntu Condensed', sans-serif;
}


.container {
    align-content: center;
}

.card {
    padding: 0em;
    /*margin: 0em 0em 0em 0em;*/
    margin: auto;
    top: 0em;
    background-color: rgba(0,0,0,.8) !important;
    width: 100%;
}

.card-header h3 {
    color: white;
    text-align: center;
}

#titulo {
    text-align: center;
    color: #FFFFFF;
    padding: 0em;
    margin: 0em;
    font-size: 5vw;
    font-family: 'Anton', sans-serif;
    font-family: 'Ubuntu Condensed', sans-serif;
}

#inputText {
    margin: 1em 0em 1em 0em;
}

#inputPassword {
    margin: 1em 0em 1em 0em;
}

#btnInicio {
    background-color: #F3C714;
}

.card-title {
    color: #FFFFFF;
    font-family: 'Anton', sans-serif;
    font-family: 'Ubuntu Condensed', sans-serif;
}

#subTitulo {
    text-align: center;
    color: #F6CE2C;
}

#contenedor {
    padding: 1em;
    margin:8em 0em 0em 0em;
    top: 10%;
    width: 100%;
    height: 100%;
}


.ancho {
    padding: .5em;
}

.sinBordes {
    padding: 0em;
    margin: 0em;
}
.centro {
    text-align: center;
}
#usuario {
    background-image: url(http://www.cezaryto.com/mlc/img/fondoUsuario5.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Anton', sans-serif;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.lu input[type=text] {
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url(../img/busqueda_20.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
#fileboton {
    background-image: url(../img/busqueda_20.png);
}
p {
    font-family: 'Anton', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
}
label {
    font-family: 'Anton', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
}