﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Campra</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <link href="{{@ruta}}css/bootstrap.css" rel="stylesheet" />
    <link href="{{@ruta}}css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{@ruta}}css/deltadev.css" rel="stylesheet" />

</head>
<body id="principal">
    <nav class="navbar navbar-dark " style="background-color:white; margin:0em;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" style="background-color:white; color:black; font-size:120%;" aria-label="Toggle navigation">
            <img src="img/menu_50px.png" style="width:20%;" />&nbsp;NAVEGAR
        </button>
        <button type="button" class="btn " style="background-color:white; font-size:120%;" onclick="location.href='{{@ruta}}paquetes';">PRECIOS</button>
        <p style="color:white;">.</p>
        <p style="color:white;">.</p>
        <p style="color:white;">.</p>
        <p style="color:white;">.</p>
        <p style="color:white;">.</p>
        <p style="color:white;">.</p>
        <p style="color:white;">.</p>
        <p style="color:white;">.</p>
        <p style="color:white;">asdasjdkasdj</p>
        <img src="img/LOGOPHOTONEWS.png" class="justify-content-md-center" style="width:25%;" />
        <p style="color:white;">.</p>
        <p style="color:white;">.</p>
        <p style="color:white;">.</p>
        <p style="color:white;">.</p>
        <p style="color:white;">.</p>
        <button type="button" class="btn " style="background-color:white; font-size:120%;"><img src="img/board_50px.png" style="width:20%;" />BOARDS</button>
        <button type="button" class="btn " style="background-color:white; font-size:120%;" onclick="location.href='{{@ruta}}carrito';"><img src="img/carrito_50px.png" style="width:20%;" />&nbsp;CARRITO</button>
        <button type="button" class="btn btn-outline-dark" style=" font-size:120%;" onclick="location.href='{{@ruta}}iniciarsesion';">Iniciar Sesión</button>

        <div class="collapse navbar-collapse" id="navbarsExample01">
            <ul class="navbar-nav mr-auto" style="color:black;">
                <li class="nav-item active">
                    <a class="" style="color:black; font-size:120%;" href="{{@ruta}}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:black; font-size:120%;" href="#">Precios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" style="color:black; font-size:120%;" href="#">Board</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link disabled" style="color:black; font-size:120%;" href="#">Carrito</a>
                </li>
            </ul>
        </div>
    </nav>
    <br />
    <div class="row">
        <div class="col-md-5">
            <h2>Información de facturación</h2>
            <form>

                <div class="form-group">
                    <!-- Full Name -->
                    <label for="full_name_id" class="control-label">Nombre completo</label>
                    <input type="text" class="form-control" id="full_name_id" name="full_name" placeholder="Nombre">
                </div>

                <div class="form-group">
                    <!-- Street 1 -->
                    <label for="street1_id" class="control-label">Calle 1</label>
                    <input type="text" class="form-control" id="street1_id" name="street1" placeholder="Calle 1">
                </div>

                <div class="form-group">
                    <!-- Street 2 -->
                    <label for="street2_id" class="control-label">Calle 2</label>
                    <input type="text" class="form-control" id="street2_id" name="street2" placeholder="Calle 2">
                </div>

                <div class="form-group">
                    <!-- City-->
                    <label for="city_id" class="control-label">Ciudad</label>
                    <input type="text" class="form-control" id="city_id" name="city" placeholder="Ciudad">
                </div>

                <div class="form-group">
                    <!-- State Button -->
                    <label for="state_id" class="control-label">País / Región</label>
                    <select class="form-control" id="state_id">
                        <option value="MX">México</option>>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MX">Mexico</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>
                </div>

                <div class="form-group">
                    <!-- Zip Code-->
                    <label for="zip_id" class="control-label">Codigo</label>
                    <input type="text" class="form-control" id="zip_id" name="zip" placeholder="#####">
                </div>

            </form>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h2 style="text-align:center;">DATOS DE COMPRA</h2>
            <br />
            <img src="img/img29.jpg" style="width:30%;" />
            <br />
            <br />
            <p>N° de imagen: 23749237429</p>
            <p>Libre de derechos</p>
            <p>Tamaño:</p>
            <h5>SUBTOTAL:</h5>
            <h5>TOTAL:</h5>
            <br />
            <h5>CÓDIGO PROMOCIONAL:</h5>
            <input type="text" placeholder="Codigo promocional" class="form-control" />
            <br />
            <p><span><input type="checkbox" /></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deseo recibir actualizaciones sobre nuevas imágenes...</p>
            <button type="button" class="btn btn-secondary btn-lg" style="background-color:rgb(84,84,84); margin:0em 0em 0em 3em; padding:.5em 4em .5em 4em;">ACEPTO, PROCEDER AL PAGO</button>
        </div>
        </div>
    <br />
    <br />
        <footer class="page-footer font-small blue">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">
                <img src="img/logo_Canon_fondo_BCO.png" style="width:10%" />
                <img src="img/ZENIT_copia.png" style="width:10%" />
                <img src="img/logoprintspot.png" style="width:7%" />
                <img src="img/logocanonacademy2.png" style="width:7%" />
            </div>
            <!-- Copyright -->

        </footer>
    </div>
    <script src="{{@ruta}}js/jquery-3.3.1.js"></script>
    <script src="{{@ruta}}js/bootstrap.js"></script>
    <script src="{{@ruta}}js/bootstrap.min.js"></script>
    <script src="{{@ruta}}js/deltadevs.js"></script>
</body>
</html>