﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Demo Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <link href="{{@ruta}}css/bootstrap.css" rel="stylesheet" />
    <link href="{{@ruta}}css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{@ruta}}css/deltadev.css" rel="stylesheet" />

</head>
<body id="loginGaleria">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" id="contenedor">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h3 class="card-title text-center">Login Demo Galeria<p id="subTitulo"></p></h3>
                            <form class="form-signin">
                                <div class="form-label-group">
                                    <input type="text" name="usuario" id="inputText" class="form-control" placeholder="Usuario" required autofocus>
                                </div>

                                <div class="form-label-group">
                                    <input type="password" name="contrasena" id="inputPassword" class="form-control" placeholder="Contraseña" required>
                                
                                </div> <button class="btn btn-lg btn-success btn-block text-uppercase" onclick="location.href='{{@ruta}}usuario';" id="iniciarSesion" type="submit">Iniciar sesión</button>

                                 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>