﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Paquetes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <link href="{{@ruta}}css/bootstrap.css" rel="stylesheet" />
    <link href="{{@ruta}}css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{@ruta}}css/deltadev.css" rel="stylesheet" />

</head>
<body id="principal">
    <nav class="navbar navbar-dark " style="background-color:white; margin:0em;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" style="background-color:white; color:black; font-size:120%;" aria-label="Toggle navigation">
            <img src="img/menu_50px.png" style="width:20%;" />&nbsp;NAVEGAR
        </button>
        <button type="button" class="btn " style="background-color:white; font-size:120%;" onclick="location.href='{{@ruta}}paquetes';">PRECIOS</button>
        <p style="color:white;">.</p>
        <p style="color:white;">.</p>
        <p style="color:white;">.</p>
        <p style="color:white;">.</p>
        <p style="color:white;">.</p>
        <p style="color:white;">.</p>
        <p style="color:white;">.</p>
        <p style="color:white;">.</p>
        <p style="color:white;">asdasjdkasdj</p>
        <img src="img/LOGOPHOTONEWS.png" class="justify-content-md-center" style="width:25%;" />
        <p style="color:white;">.</p>
        <p style="color:white;">.</p>
        <p style="color:white;">.</p>
        <p style="color:white;">.</p>
        <p style="color:white;">.</p>
        <button type="button" class="btn " style="background-color:white; font-size:120%;"><img src="img/board_50px.png" style="width:20%;" />BOARDS</button>
        <button type="button" class="btn " style="background-color:white; font-size:120%;" onclick="location.href='{{@ruta}}carrito';"><img src="img/carrito_50px.png" style="width:20%;" />&nbsp;CARRITO</button>
        <button type="button" class="btn btn-outline-dark" style=" font-size:120%;" onclick="location.href='{{@ruta}}iniciarsesion';">Iniciar Sesión</button>

        <div class="collapse navbar-collapse" id="navbarsExample01">
            <ul class="navbar-nav mr-auto" style="color:black;">
                <li class="nav-item active">
                    <a class="" style="color:black; font-size:120%;" href="{{@ruta}}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:black; font-size:120%;" href="#">Precios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" style="color:black; font-size:120%;" href="#">Board</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link disabled" style="color:black; font-size:120%;" href="#">Carrito</a>
                </li>
            </ul>
        </div>
    </nav>
    <br />
    <br />
    <h2 style="margin: 0em 0em 0em 4em;">PAQUETES:</h2>
    <br />
    <h3 style="text-align:center;">Mezcla y combina imagenes y videos libres de derechos e imágenes editoriales</h3>
    <br />
    <div class="row">
        <div class="col-md-6" style="padding:0em 5em 0em 5em;">
            <TABLE CELLPADDING=10 CELLSPACING=0 class="container" style="margin:0em 3em 0em 0em;  border: black 5px solid;">
                <TR>
                    <TD>
                        <p style="margin:0em; font-size:150%;">2,000 descargas al año</p>
                        <p style="margin:0em; font-size:150%;">small, medium, large</p>
                        <p style="margin:0em; font-size:150%;">1 usuario</p>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <p style="margin:0em; font-size:150%;">TOTAL: $1,000  USD al año </p>
                    </TD>
                </TR>
            </TABLE>
        </div>
        <div class="col-md-6" style="padding:0em 5em 0em 5em;">
            <TABLE CELLPADDING=10 CELLSPACING=0 class="container" style="margin:0em 0em 0em 0em;  border: black 5px solid;">
                <TR>
                    <TD>
                        <p style="margin:0em; font-size:150%;">Descargas ilimitadas</p>
                        <p style="margin:0em; font-size:150%;">small, medium, large</p>
                        <p style="margin:0em; font-size:150%;">usuarios ilimitados</p>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <p style="margin:0em; font-size:150%;">TOTAL: $3,000 USD al año</p>
                    </TD>
                </TR>
            </TABLE>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

            <footer class="page-footer font-small blue">

                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">
                    <img src="img/logo_Canon_fondo_BCO.png" style="width:10%" />
                    <img src="img/ZENIT_copia.png" style="width:10%" />
                    <img src="img/logoprintspot.png" style="width:7%" />
                    <img src="img/logocanonacademy2.png" style="width:7%" />
                </div>
                <!-- Copyright -->

            </footer>
        </div>
        <script src="{{@ruta}}js/jquery-3.3.1.js"></script>
        <script src="{{@ruta}}js/bootstrap.js"></script>
        <script src="{{@ruta}}js/bootstrap.min.js"></script>
        <script src="{{@ruta}}js/deltadevs.js"></script>
</body>
</html>